
.popup {
    position: fixed;
    border: 2px solid black;
    width: 90%;
    height: 95%;
    top: -5px;
    margin: auto;
    background-color: rgba(151, 253, 120, 0.5);
  }
  .popup_title {
    height: 5%;
    width: 900px;
    margin:auto; 
    background: rgb(245, 127, 133);
    text-align: center;
  }
  .popup_content {
    height: 85%;
    width: 900px;
    
    margin:auto; 
    background: rgb(148, 130, 250);
  }
  .popup_footer {
    height: 5%;
    width: 900px;
    margin:auto;  
    background: rgb(243, 241, 132);
  }
  .exitBttn
  {
      float: right;
      position: flex;
      
  }
  .modal-boton-create
  {
    float: right;
    width: 100px;
    height: 100%;
  }