* {
    box-sizing: border-box;
  }
  
#GridLayout
{
  position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:30%;
    left:40%;
		/*determinamos una anchura*/
		width: 980px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
		/*determinamos una altura*/
		height:580px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
		border:1px solid #4423ff;
    padding:5px;
    background-color: rgb(135, 205, 238);
}

.Contan
{
  background-color: rgb(182, 72, 247);
}  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
    orientation: vertical; /* Should be removed. Only for demonstration */
  }
  .column2 {
    float: right;
    width: 80%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.BoxBttn
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}
.bttn
{
    display: inline;
    padding: 5px;
}