
.GeneralDiv{
    display: grid;
    background-color: rgb(255, 255, 255); 
}
.DivContent
{
    background-color: rgb(132, 148, 241);
    margin-top: 100px;
    font-size: 20px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out
}
.DivContent:focus{

    background-color: rgba(248, 126, 126, 0.281);
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}